body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    font-family: 'Roboto', sans-serif;
}
.ourdrs{
	font-family: 'Sofia';
	text-shadow: 3px 3px 3px #ababab;
	font-size: 50px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

#results {
    margin-top: 20px;
    text-align: left;
}

#dataTable {
    width: 100%;
    border-collapse: collapse;
}

#dataTable th, #dataTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#dataTable input {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0px; /* Remove the margin to adjust the spacing */
}
